/* Sidebar styling */
#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 1;
    padding-top: 20px;
}

.sidebar ul.nav.flex-column {
    padding-left: 0;
}

.sidebar .nav-item {
    position: relative;
}

.sidebar .nav-item.active {
    background-color: #007BFF;
}

.sidebar .nav-item.active a.nav-link {
    color: #fff !important;
}

.sidebar .nav-item.active::before {
    content: '';
    position: absolute;
    top: 0;
    left: -15px;
    border-left: 3px solid #0056b3;
    height: 100%;
}

.sidebar .nav-link {
    padding: 10px 20px;
    color: #333;
    border-left: 3px solid transparent;
    transition: background-color 0.3s ease, color 0.3s ease, border-left 0.3s ease;
}

.sidebar .nav-link:hover {
    background-color: #f8f9fa;
    color: #333;
    border-left: 3px solid #007BFF;
}
